# ==========================
# Sistema operativo
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Archivos temporales
# ==========================

*.tmp
*.bak
*.swp

# ==========================
# Claves privadas
# ==========================

*.pem
*.key

# ==========================
# Variables de entorno
# ==========================

.env
.env.*

# ==========================
# Datos persistentes Docker
# ==========================

docker/**/data/
docker/**/db/
docker/**/uploads/

# ==========================
# Backups
# ==========================

*.sql
*.tar
*.gz
*.zip

###############################################################################
# Homepage
###############################################################################

# Logs generados automáticamente por Homepage
docker/homepage/config/logs/
