# ==========================
# Sistema operativo
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Archivos temporales
# ==========================

*.tmp
*.bak
*.swp

# ==========================
# Claves privadas
# ==========================

*.pem
*.key

# ==========================
# Variables de entorno
# ==========================

.env
.env.*

# ==========================
# Datos persistentes Docker
# ==========================

docker/**/data/
docker/**/db/
docker/**/uploads/

# ==========================
# Backups
# ==========================

*.sql
*.tar
*.gz
*.zip

###############################################################################
# Homepage
###############################################################################

# Logs generados automáticamente por Homepage
docker/homepage/config/logs/

###############################################################################
# PKI / Certificates
###############################################################################

# Root CA private material
security/pki/root-ca/

# Private keys
security/pki/private/

# Certificate signing requests
security/pki/csr/

# Generated certificates
security/pki/certs/

# Common certificate and key formats
*.key
*.pem
*.crt
*.csr
*.p12
*.pfx
*.der
*.srl
*.old
